<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.application.dnsehd.dao.FaqDAO">

	<insert id="insertFaq" parameterType="FaqDTO">
		INSERT INTO FAQS (
			FAQ_QUESTION,
			FAQ_ANSWER,
			ADMIN_ID
		)
		VALUES (
			#{faqQuestion},
			#{faqAnswer},
			#{adminId}
		)
	</insert>
	
	
	<select id="selectFaqList" resultType="FaqDTO">
		SELECT
				*
		FROM 
				FAQS
	</select>
	
	
	<select id="selectFaqDetail" parameterType="int" resultType="FaqDTO">
		SELECT
				*
		FROM
				FAQS
		WHERE
				FAQ_NO = #{faqNo}
	</select>
	
	<update id="updateFaq" parameterType="FaqDTO">
		UPDATE
				FAQS
		SET
				FAQ_QUESTION = #{faqQuestion},
				FAQ_ANSWER = #{faqAnswer}
		WHERE
				FAQ_NO = #{faqNo}
	</update>

	<delete id="deleteFaq" parameterType="int">
		DELETE FROM
				FAQS
		WHERE
				FAQ_NO = #{faqNo}
	</delete>

</mapper>