<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.application.dnsehd.dao.ReviewDAO">

	<resultMap type="hashmap" id="class">
		<result column="RESV_NO" property="resvNo"/>
		<result column="PAYMENT" property="payment"/>
		<result column="RESV_DT" property="resvDt"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="CLASS_NO" property="classNo"/>
		<result column="CLASS_NM" property="classNm"/>
	</resultMap>
	
	<select id="selectClassList" parameterType="String" resultMap="class">
		SELECT
				RESV.RESV_NO AS RESV_NO,
				RESV.PAYMENT AS PAYMENT,
				RESV.RESV_DT AS RESV_DT,
				RESV.MEMBER_ID AS MEMBER_ID,
				RESV.CLASS_NO AS CLASS_NO,
				C.CLASS_NM AS CLASS_NM
		FROM
				RESERVATIONS RESV
		JOIN	CLASS C
		  ON	RESV.CLASS_NO = C.CLASS_NO
		WHERE
				RESV.MEMBER_ID = #{memberId}
		ORDER BY
				RESV.RESV_DT DESC
	</select>
	
	<resultMap type="hashmap" id="reservation">
		<result column="RESV_NO" property="resvNo"/>
		<result column="PAYMENT" property="payment"/>
		<result column="RESV_DT" property="resvDt"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="CLASS_NO" property="classNo"/>
		<result column="CLASS_NM" property="classNm"/>
		<result column="CLASS_CONTENT" property="classContent"/>
		<result column="CLASS_PRICE" property="classPrice"/>
		<result column="CLASS_TIME" property="classTime"/>
		<result column="CLASS_CATEGORY" property="classCategory"/>
		<result column="CLASS_LIMIT" property="classLimit"/>
		<result column="ADMIN_ID" property="adminId"/>
		<result column="TEACHER_NO" property="teacherNo"/>
	</resultMap>
	
	<select id="selectMyResvList" parameterType="String" resultMap="reservation">
		SELECT
				RESV.RESV_NO AS RESV_NO,
				RESV.PAYMENT AS PAYMENT,
				RESV.RESV_DT AS RESV_DT,
				RESV.MEMBER_ID AS MEMBER_ID,
				RESV.CLASS_NO AS CLASS_NO,
				C.CLASS_NM AS CLASS_NM,
				C.CLASS_CONTENT AS CLASS_CONTENT,
				C.CLASS_PRICE AS CLASS_PRICE,
				C.CLASS_TIME AS CLASS_TIME,
				C.CLASS_CATEGORY AS CLASS_CATEGORY,
				C.CLASS_LIMIT AS CLASS_LIMIT,
				C.ADMIN_ID AS ADMIN_ID,
				C.TEACHER_NO AS TEACHER_NO
		FROM
				RESERVATIONS RESV
		JOIN	CLASS C
		  ON	RESV.CLASS_NO = C.CLASS_NO
		WHERE
				RESV.MEMBER_ID = #{memberId}
		ORDER BY
				RESV.RESV_DT DESC
	</select>
	
	<select id="getSelectedResvNo" parameterType="int" resultType="int">
		SELECT
				RESV_NO
		FROM
				REVIEWS
		WHERE
				REVIEW_NO = #{reviewNo}
	</select>

	<select id="getSelectedClassNo" parameterType="int" resultType="int">
		SELECT
				CLASS_NO
		FROM
				REVIEWS
		WHERE
				REVIEW_NO = #{reviewNo}
	</select>
	
	<insert id="insertReview" parameterType="ReviewDTO" useGeneratedKeys="true" keyProperty="reviewNo">
		INSERT INTO REVIEWS (
			REVIEW_TITLE,
			REVIEW_CONTENT,
			REVIEW_SCORE,
			REVIEW_DT,
			MEMBER_ID,
			CLASS_NO,
			RESV_NO
		)
		VALUES (
			#{reviewTitle},
			#{reviewContent},
			#{reviewScore},
			now(),
			#{memberId},
			#{classNo},
			#{resvNo}
		)
		<selectKey keyColumn="GENERATED_KEY" keyProperty="reviewNo" order="AFTER" resultType="int">
		    SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<insert id="insertReviewImg" parameterType="ReviewImgDTO">
		INSERT INTO REVIEW_IMAGES (
				REVIEW_NO,
				REVIEW_IMG_NM,
				REVIEW_IMG_UUID
		)
		VALUES (
				#{reviewNo},
				#{reviewImgNm},
				#{reviewImgUUID}
		)
	</insert>
		
	<resultMap type="hashmap" id="review">
		<result column="REVIEW_NO" property="reviewNo"/>
		<result column="REVIEW_TITLE" property="reviewTitle"/>
		<result column="REVIEW_CONTENT" property="reviewContent"/>
		<result column="REVIEW_SCORE" property="reviewScore"/>
		<result column="REVIEW_DT" property="reviewDt"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="REVIEW_IMG_NO" property="reviewImgNo"/>
		<result column="REVIEW_IMG_NM" property="reviewImgNm"/>
		<result column="REVIEW_IMG_UUID" property="reviewImgUUID"/>
		<result column="RESV_NO" property="resvNo"/>
		<result column="PAYMENT" property="payment"/>
		<result column="RESV_DT" property="resvDt"/>
		<result column="CLASS_NO" property="classNo"/>
		<result column="CLASS_NM" property="classNm"/>
		<result column="CLASS_CONTENT" property="classContent"/>
		<result column="CLASS_PRICE" property="classPrice"/>
		<result column="CLASS_TIME" property="classTime"/>
		<result column="CLASS_CATEGORY" property="classCategory"/>
		<result column="CLASS_LIMIT" property="classLimit"/>
	</resultMap>
	
	<select id="selectReviewList" resultMap="review">
		SELECT 
				R.REVIEW_NO AS REVIEW_NO,
				R.REVIEW_TITLE AS REVIEW_TITLE,
				R.REVIEW_CONTENT AS REVIEW_CONTENT,
				R.REVIEW_SCORE AS REVIEW_SCORE,
				R.REVIEW_DT AS REVIEW_DT,
				R.MEMBER_ID AS MEMBER_ID,
				RI.REVIEW_IMG_NO AS REVIEW_IMG_NO,
				RI.REVIEW_IMG_NM AS REVIEW_IMG_NM,
				RI.REVIEW_IMG_UUID AS REVIEW_IMG_UUID,
				R.RESV_NO AS RESV_NO,
				RESV.PAYMENT AS PAYMENT,
				RESV.RESV_DT AS RESV_DT,
				RESV.CLASS_NO AS CLASS_NO,
				R.CLASS_NO AS CLASS_NO,
				C.CLASS_NM AS CLASS_NM,
				C.CLASS_CONTENT AS CLASS_CONTENT,
				C.CLASS_PRICE AS CLASS_PRICE,
				C.CLASS_TIME AS CLASS_TIME,
				C.CLASS_CATEGORY AS CLASS_CATEGORY,
				C.CLASS_LIMIT AS CLASS_LIMIT
		FROM
				REVIEWS R
		JOIN    REVIEW_IMAGES RI
		  ON 	R.REVIEW_NO = RI.REVIEW_NO
		JOIN    RESERVATIONS RESV
		  ON 	R.RESV_NO = RESV.RESV_NO
		JOIN  	CLASS C
		  ON	R.CLASS_NO = C.CLASS_NO
		ORDER BY
				R.REVIEW_NO DESC
	</select>
	
	<select id="selectReviewDetail" parameterType="int" resultMap="review">
		SELECT 
				R.REVIEW_NO AS REVIEW_NO,
				R.REVIEW_TITLE AS REVIEW_TITLE,
				R.REVIEW_CONTENT AS REVIEW_CONTENT,
				R.REVIEW_SCORE AS REVIEW_SCORE,
				R.REVIEW_DT AS REVIEW_DT,
				R.MEMBER_ID AS MEMBER_ID,
				RI.REVIEW_IMG_NO AS REVIEW_IMG_NO,
				RI.REVIEW_IMG_NM AS REVIEW_IMG_NM,
				RI.REVIEW_IMG_UUID AS REVIEW_IMG_UUID,
				R.RESV_NO AS RESV_NO,
				RESV.PAYMENT AS PAYMENT,
				RESV.RESV_DT AS RESV_DT,
				RESV.CLASS_NO AS CLASS_NO,
				R.CLASS_NO AS CLASS_NO,
				C.CLASS_NM AS CLASS_NM,
				C.CLASS_CONTENT AS CLASS_CONTENT,
				C.CLASS_PRICE AS CLASS_PRICE,
				C.CLASS_TIME AS CLASS_TIME,
				C.CLASS_CATEGORY AS CLASS_CATEGORY,
				C.CLASS_LIMIT AS CLASS_LIMIT
		FROM
				REVIEWS R
		JOIN    REVIEW_IMAGES RI
		  ON 	R.REVIEW_NO = RI.REVIEW_NO
		JOIN    RESERVATIONS RESV
		  ON 	R.RESV_NO = RESV.RESV_NO
		JOIN  	CLASS C
		  ON	R.CLASS_NO = C.CLASS_NO
		WHERE
				R.REVIEW_NO = #{reviewNo}
	</select>
	
	<select id="selectMyReviewList" parameterType="String" resultType="ReviewDTO">
		SELECT
				*
		FROM
				REVIEWS
		WHERE
				MEMBER_ID = #{memberId}
	</select>
	
	<update id="updateMyReview" parameterType="ReviewDTO">
		UPDATE
				REVIEWS
		SET
				REVIEW_TITLE = #{reviewTitle},
				REVIEW_CONTENT = #{reviewContent},
				REVIEW_SCORE = #{reviewScore},
				REVIEW_DT = now(),
				MEMBER_ID = #{memberId},
				CLASS_NO = #{classNo},
				RESV_NO = #{resvNo}
		WHERE
				REVIEW_NO = #{reviewNo}
	</update>

	<update id="updateMyReviewImg" parameterType="ReviewImgDTO">
	    UPDATE 
	    		REVIEW_IMAGES
	    SET 
	    		REVIEW_IMG_NM = #{reviewImgNm},
	        	REVIEW_IMG_UUID = #{reviewImgUUID}
	    WHERE 
	    		REVIEW_NO = #{reviewNo}
	</update>
		
	<delete id="deleteReview" parameterType="int">
		DELETE FROM
				REVIEWS
		WHERE
				REVIEW_NO = #{reviewNo}
	</delete>
	
	<delete id="deleteReviewImg" parameterType="int">
		DELETE FROM
				REVIEW_IMAGES
		WHERE
				REVIEW_NO = #{reviewNo}
	</delete>

</mapper>